<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RememberTheMilk</string>
	<key>CFBundleIdentifier</key>
	<string>com.binaryminded.QSRememberTheMilk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Remember The Milk</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>EF</string>
	<key>QSActions</key>
	<dict>
		<key>RTMAddTaskAction</key>
		<dict>
			<key>actionClass</key>
			<string>RememberTheMilkAction</string>
			<key>actionSelector</key>
			<string>newTaskWithText:inList:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>Cow</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Create Task in...</string>
			<key>reverseAguments</key>
			<false/>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>RTMReverseAddTaskAction</key>
		<dict>
			<key>actionClass</key>
			<string>RememberTheMilkAction</string>
			<key>actionSelector</key>
			<string>newTaskWithText:inList:</string>
			<key>directTypes</key>
			<array>
				<string>RTMListType</string>
			</array>
			<key>icon</key>
			<string>Cow</string>
			<key>indirectOptional</key>
			<false/>
			<key>name</key>
			<string>Add Task...</string>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QSRTMAuthName</key>
		<string></string>
		<key>QSRTMParseTask</key>
		<true/>
		<key>QSRTMToken</key>
		<string></string>
	</dict>
	<key>QSObjectSources</key>
	<dict>
		<key>RememberTheMilkSource</key>
		<string>RememberTheMilkSource</string>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Brian Moore</string>
		<key>categories</key>
		<array>
			<string>Web</string>
			<string>Text</string>
		</array>
		<key>description</key>
		<string>Provides an interface to quickly add Remember the Milk todo items.</string>
		<key>icon</key>
		<string>Cow</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles</key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetRememberTheMilk</string>
			<key>name</key>
			<string>Remember The Milk Lists</string>
			<key>source</key>
			<string>RememberTheMilkSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>RememberTheMilkAction</key>
			<string>RememberTheMilkAction</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>RTMListType</key>
			<string>RememberTheMilkSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>RememberTheMilkSource</key>
			<string>RememberTheMilkSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>RTMPreferencePane</key>
			<dict>
				<key>class</key>
				<string>RTMPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string>Cow</string>
				<key>name</key>
				<string>Remember The Milk</string>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Cow</key>
		<dict>
			<key>bundle</key>
			<string>com.binaryminded.QSRememberTheMilk</string>
			<key>resource</key>
			<string>cow.icns</string>
		</dict>
	</dict>
</dict>
</plist>
